/* 메인비주얼 적용 애니메이션 */
.ani-visual {
	animation-name: visual;
	animation-duration: 1s;
}

@keyframes visual {
	0% {height: 0;padding: 0;}
	100% {}
}

/* 투명상태에서 표출 */
.a01 {
	animation-name: opacity;
	animation-duration: 1s;
	animation-fill-mode: backwards;
}

@keyframes opacity {
	0% {opacity: 0}
	100% {opacity: 1}
}

/* 투명상태에서 올라오며 표출 */
.a02 {
	animation-name: bottom-top;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-fill-mode: backwards;
}

@keyframes bottom-top {
	0% {opacity: 0;transform: translateY(30px);}
	100% {opacity: 1;transform: translateY(0px);}
}

/* 투명상태에서 내려오며 표출 */
.a03 {
	animation-name: top-bottom;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-fill-mode: backwards;
}

@keyframes top-bottom {
	0% {opacity: 0;transform: translateY(-30px);}
	100% {opacity: 1;transform: translateY(0px);}
}

/* 애니메이션 대기시간 */
.a-delay-1 {animation-delay: 0.5s;}
.a-delay-2 {animation-delay: 0.75s;}
.a-delay-3 {animation-delay: 1s;}
.a-delay-4 {animation-delay: 1.25s;}
.a-delay-5 {animation-delay: 1.5s;}
.a-delay-6 {animation-delay: 1.75s;}
.a-delay-7 {animation-delay: 2s;}
.a-delay-8 {animation-delay: 2.25s;}
.a-delay-9 {animation-delay: 2.5s;}

/* Scroll Animation (sa, 스크롤 애니메이션) */
.sa {
	opacity: 0;
	transition: all 1s ease;
}

/* 아래에서 위로 페이드 인 */
.sa-up {
	transform: translate(0, 100px);
}
/* 위에서 아래로 페이드 인 */
.sa-down {
	transform: translate(0, -100px);
}
/* 왼쪽에서 오른쪽으로 페이드 인 */
.sa-right {
	transform: translate(-100px, 0);
}
/* 오른쪽에서 왼쪽으로 페이드 인 */
.sa-left {
	transform: translate(100px, 0);
}
/* 왼쪽으로 회전하면서 페이드 인 */
.sa-rotateL {
	transform: rotate(180deg);
}
/* 오른쪽으로 회전하면서 페이드 인 */
.sa-rotateR {
	transform: rotate(-180deg);
}
/* 작아진 상태에서 커지면서 페이드 인 */
.sa-scaleUp {
	transform: scale(.5);
}
/* 커진 상태에서 작아지면서 페이드 인 */
.sa-scaleDown {
	transform: scale(1.5);
}

.sa.show {
	opacity: 1;
	transform: none;
}